@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-surface-3 text-text text-body-2 lg:text-body-1;
  @apply max-w-[90rem] mx-auto;
}

a:not(.btn):hover {
  color: theme('colors.primary');
  @apply transition-colors;
}

a:hover path {
  fill: theme('colors.primary');
  @apply transition-colors;
}

@layer base {
  :root {
    --color-text: 0 0% 100%;
    --color-text-inverse: 186 100% 8%;
  }
}

@layer utilities {
  .wrapper {
    --_gutter: var(--gutter, 1.5rem);
    --size: 1110px;
    width: min(100% - var(--_gutter), var(--size));
    margin-inline: auto;

    @media (min-width: theme('screens.md')) {
      --gutter: 2.5rem;
    }
  }

  .section-wrapper {
    @apply wrapper max-w-xl lg:max-w-none;
  }

  .light {
    --color-text: 186 100% 8%;
    --color-text-inverse: 0 0% 100%;
  }
}

@layer components {
  .heading {
    --_fsize: var(--fsize, inherit);

    color: theme('colors.text');
    font-weight: theme('fontWeight.bold');
    line-height: 1;
    font-size: var(--_fsize);
    text-wrap: balance;
  }

  .heading--1 {
    --fsize: 2.5rem;

    @media (min-width: theme('screens.md')) {
      --fsize: 4rem;
    }

    @media (min-width: theme('screens.lg')) {
      --fsize: 6.25rem;
    }
  }

  .heading--2 {
    --fsize: 2rem;

    @media (min-width: theme('screens.lg')) {
      --fsize: 3rem;
    }
  }

  .heading--3 {
    --fsize: 1.125rem;
  }

  .job-title {
    @apply font-medium text-[.8125rem] italic;
  }

  .btn {
    --_bg: var(--bg, transparent);
    --_color: var(--color, theme(colors.text));
    --_border: var(--border, var(--_color));
    
    display: grid;
    place-content: center;
    border: 2px solid var(--_border);
    border-radius: theme('borderRadius.full');
    color: var(--_color);
    background-color: var(--_bg);
    height: 3rem;
    padding-inline: 1.5rem;
    @apply transition-colors;
  }

  .btn:disabled {
    opacity: 25%;
    cursor: not-allowed;
  }

  .btn:hover:not(:disabled) {
    --_bg-hover: var(--bg-hover, theme(colors.text));
    --color: theme('colors.text-inverse');
    --border: var(--_bg-hover);
    background-color: var(--_bg-hover);
  }


  .btn--secondary {
    --bg: theme('colors.text');
    --color: theme('colors.text-inverse');
    --border: theme('colors.text');
    --bg-hover: theme('colors.secondary');
  }
}
